{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% trans "FTTT – Sign In" %}</title>
  <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body class="signin-page">
  <div class="auth-container">
    <!-- LEFT PANEL -->
    <div class="auth-left">
      <div class="fttt-logo-box">
         <div class="fttt-logo">T → T</div>
          <div class="fttt-logo-text">
            <strong>{% trans "From Tweets To Trades" %}</strong>
          
          </div>
        </div>

    </div>

    <!-- RIGHT PANEL -->
    <div class="auth-right">
      <div class="auth-card">
        <h2>{% trans "Welcome Back" %}</h2>

        <button class="btn-google">
          <img src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png" style="width:20px; height:20x;">
          <span>{% trans "Sign in with Google" %}</span>
        </button>

        <p class="divider-text">{% trans "— or sign in with email —" %}</p>

        <form method="post" action="{% url 'signin' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">{% trans "Email Address" %}</label>
            <input type="email" id="email" name="email" required placeholder="name@example.com">
          </div>

          <div class="form-group">
            <label for="password">{% trans "Password" %}</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
          </div>

          <button type="submit" class="auth-btn-primary">{% trans "Sign In" %}</button>
        </form>

        <div class="footer-links">
          {% trans "Don’t have an account?" %}
            <a href="{% url 'signup' %}">{% trans "Sign Up" %}</a>
          <br>
          <a href="{% url 'home' %}">{% trans "Back to Home" %}</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>